@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100%;
  background-image: linear-gradient(
    to right bottom,
    #c20470,
    #cd0083,
    #d60097,
    #dd00ae,
    #e100c7,
    #e12bd1,
    #e040db,
    #df50e4,
    #dd6cdf,
    #da83da,
    #d698d4,
    #d1abcf
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color;
}

body {
}
